<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <script th:src="@{/js/script.js}"></script>
        <title>Projeto API</title>

    </head>
    <body>
        <div class="box">
            <h1>Cadastro</h1>
            <form action="">
                <input type="text" class="nome_completo" placeholder="nome_completo">
                <input type="text" class="username" placeholder="Username">
                <input type="text" class="email" placeholder="Email">
                <input type="password" class="senha" placeholder="Senha">
                <input type="text" class="tel" placeholder="Telefone">
                <button>Cadastrar</button>
            </form>
        </div>
    </body>
</html>